<div>
    <p>
        {% if forloop %}
            {{ forloop.counter0|add:page_obj.start_index }}.
        {% endif %}
        <a href="{{ thread.url }}">{{ thread.text }}</a> {% if thread.domain %}<span>({{ thread.domain }})</span>{% endif %}</p>
    <p>
        &nbsp;&nbsp;&nbsp;
        {% if not thread.karma or thread.karma == 0 %}
            0 points
        {% elif thread.karma == 1 or thread.karma == -1 %}
            {{ thread.karma }} point
        {% else %}
            {{ thread.karma }} points
        {% endif %}
        <a href="{% url 'user:detail' thread.user.username %}">{{ thread.user.username }}</a> {{ thread.datetime|timesince }} ago
        <a href="{% url 'thread:detail' thread.id %}">
            {% if thread.comment_count == 0 %}
                | discuss
            {% elif thread.comment_count == 1 %}
                | 1 comment
            {% else %}
                | {{ thread.comment_count }} comments
            {% endif %}
        </a>
        {% if request.user.is_authenticated %}
            {% if request.user == thread.user %}
                | <a href="{% url 'thread:delete' thread.id %}">delete</a>
            {% else %}
                | <button data-type="thread" data-id="{{ thread.id }}" data-value=1 data-csrf="{{csrf_token}}" onclick="vote(this)">Up</button>
                | <button data-type="thread" data-id="{{ thread.id }}" data-value=-1 data-csrf="{{csrf_token}}" onclick="vote(this)">Down</button>
            {% endif %}
        {% else %}
            | <button onclick="location.href='{% url 'account_login' %}'">Up</button>
            | <button onclick="location.href='{% url 'account_login' %}'">Down</button>
        {% endif %}
    </p>
</div>