<div class="card thread-card">
{% if forloop %}
    <div>
        <p>{{ forloop.counter0|add:page_obj.start_index }}.</p>
    </div>
{% endif %}
    <div class="thread-votes">
        {% if request.user.is_authenticated %}
            {% if request.user == thread.user %}
                {# Buttons are displayed but inert as user cannot vote on own content #}
                <div><i class="fas fa-caret-up"></i></div>
                <div><i class="fas fa-caret-down"></i></div>
            {% else %}
                {# Logged in and can vote #}
                <div id="thread-{{ thread.id }}-up" class="vote-icon" data-csrf="{{csrf_token}}" onclick="vote(this)"><i class="fas fa-caret-up"></i></div>
                <div id="thread-{{ thread.id }}-down" class="vote-icon" data-csrf="{{csrf_token}}" onclick="vote(this)"><i class="fas fa-caret-down"></i></div>
            {% endif %}
        {% else %}
            {# Redirected to log in view #}
            <div onclick="location.href='{% url 'account_login' %}'"><i class="fas fa-caret-up"></i></div>
            <div onclick="location.href='{% url 'account_login' %}'"><i class="fas fa-caret-down"></i></div>
        {% endif %}
    </div>
    <div>
        <p class="card-title">
            <strong>
                <a class="text-success text-decoration-none" href="{{ thread.url }}">{{ thread.text }}</a>
            </strong>
            <small class="text-muted">
                ({{ thread.domain }})
            </small>
        </p>
        <p class="card-text">
            <small class="text-muted">
                <span id="thread-{{ thread.id }}-karma" data-state="null">
                    {% if not thread.karma or thread.karma == 0 %}
                        0 points
                    {% elif thread.karma == 1 or thread.karma == -1 %}
                        {{ thread.karma }} point
                    {% else %}
                        {{ thread.karma }} points
                    {% endif %}
                </span>
            <a class="text-decoration-none" href="{% url 'user:detail' thread.user.username %}">{{ thread.user.username }}</a>
            {{ thread.datetime|timesince }} ago
            <a class="text-decoration-none" href="{% url 'thread:detail' thread.id %}">
                {% if thread.comment_count == 0 %}
                    discuss
                {% elif thread.comment_count == 1 %}
                    1 comment
                {% else %}
                    {{ thread.comment_count }} comments
                {% endif %}
            </a>
                {% if request.user == thread.user %}
                    - <a href="{% url 'thread:delete' thread.id %}"><span class="danger-text">delete</span></a>
                {% endif %}
            </small>
        </p>
    </div>
</div>