<div>
    <p>
        {% if not comment.karma or comment.karma == 0 %}
            0 points
        {% elif comment.karma == 1 or comment.karma == -1 %}
            {{ comment.karma }} point
        {% else %}
            {{ comment.karma }} points
        {% endif %}
        <a href="{% url 'user:detail' comment.user.username %}">{{ comment.user.username }}</a> {{ comment.datetime|timesince }} ago
        {% if request.user.is_authenticated %}
            {% if request.user == comment.user %}
                | <a href="{% url 'comment:update' comment.id %}">edit</a>
                | <a href="{% url 'comment:delete' comment.id %}">delete</a>
            {% else %}
                | <button data-type="comment" data-id="{{ comment.id }}" data-value=1 data-csrf="{{csrf_token}}" onclick="vote(this)">Up</button>
                | <button data-type="comment" data-id="{{ comment.id }}" data-value=-1 data-csrf="{{csrf_token}}" onclick="vote(this)">Down</button>
            {% endif %}
        {% else %}
            | <button onclick="location.href='{% url 'account_login' %}'">Up</button>
            | <button onclick="location.href='{% url 'account_login' %}'">Down</button>
        {% endif %}
    </p>
    <p>{{ comment.text }}</p>
</div>