<div class="card comment-card">
    <div class="comment-header">
        <div class="comment-votes">

        {% if request.user.is_authenticated %}
            {% if request.user == comment.user %}
                {# Buttons are displayed but inert as user cannot vote on own content #}
                <div><i class="fas fa-caret-up"></i></div>
                <div><i class="fas fa-caret-down"></i></div>
            {% else %}
                {# Logged in and can vote #}
                <div id="comment-{{ comment.id }}-up" class="vote-icon" data-csrf="{{csrf_token}}" onclick="vote(this)"><i class="fas fa-caret-up"></i></div>
                <div id="comment-{{ comment.id }}-down" class="vote-icon" data-csrf="{{csrf_token}}" onclick="vote(this)"><i class="fas fa-caret-down"></i></div>
            {% endif %}
        {% else %}
            {# Redirected to log in view #}
            <div onclick="location.href='{% url 'account_login' %}'"><i class="fas fa-caret-up"></i></div>
            <div onclick="location.href='{% url 'account_login' %}'"><i class="fas fa-caret-down"></i></div>
        {% endif %}

        </div>
        <div class="meta">
            <p>
                <small class="text-muted">
                    <span id="comment-{{ comment.id }}-karma" data-state="null">
                        {% if not comment.karma or comment.karma == 0 %}
                            0 points
                        {% elif comment.karma == 1 or comment.karma == -1 %}
                            {{ comment.karma }} point
                        {% else %}
                            {{ comment.karma }} points
                        {% endif %}
                    </span>
                <a class="text-decoration-none" href="{% url 'user:detail' comment.user.username %}">{{ comment.user.username }}</a> {{ comment.datetime|timesince }} ago
                {% if request.path == '/comment/list' %}
                    <a class="text-decoration-none" href="{% url 'thread:detail' comment.thread_id %}">thread</a>
                {% endif %}
                {% if request.user == comment.user %}
                    - <a class="text-decoration-none" href="{% url 'comment:update' comment.id %}"><span class="danger-text">edit</span></a>
                    - <a class="text-decoration-none" href="{% url 'comment:delete' comment.id %}"><span class="danger-text">delete</span></a>
                {% endif %}
                </small>
            </p>
        </div>
    </div>
    <div class="comment-body">
        <div class="comment-body-offset"></div>
        <div>
            <p>{{ comment.text }}</p>
        </div>
    </div>
</div>