<div class="card comment-card">
    <div class="comment-header">
        <div class="comment-votes">
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
        </div>
        <div class="meta">
            <p>
                <small class="text-muted">
                {% if not comment.karma or comment.karma == 0 %}
                    0 points
                {% elif comment.karma == 1 or comment.karma == -1 %}
                    {{ comment.karma }} point
                {% else %}
                    {{ comment.karma }} points
                {% endif %}
                <a class="text-decoration-none" href="{% url 'user:detail' comment.user.username %}">{{ comment.user.username }}</a> {{ comment.datetime|timesince }} ago
                {% if request.path == '/comment/list' %}
                    <a class="text-decoration-none" href="{% url 'thread:detail' comment.thread_id %}">thread</a>
                {% endif %}
                {% if request.user == comment.user %}
                    | <a class="text-decoration-none" href="{% url 'comment:update' comment.id %}"><span class="danger-text">edit</span></a>
                    | <a class="text-decoration-none" href="{% url 'comment:delete' comment.id %}"><span class="danger-text">delete</span></a>
                {% endif %}
                </small>
            </p>
        </div>
    </div>
    <div class="comment-body">
        <div class="comment-body-offset"></div>
        <div>
            <p>{{ comment.text }}</p>
        </div>
    </div>
</div>