{% extends 'base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}
    {% for comment in object_list %}
        <div>
            <p><a href="{% url 'index:profile' comment.author.username %}">{{ comment.author.username }}</a> on {{ comment.created|timesince }} ago</p>
            <p>{{ comment.text }}</p>
        </div>
    {% empty %}
        <div>
            <p>No comments found</p>
        </div>
    {% endfor %}
    <div>
        <p>{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">more</a>{% endif %}</p>
    </div>
{% endblock %}