{% extends 'base.html' %}

{% block title %}Tech News{% endblock %}

{% block content %}
    {% for link in object_list %}
        <div>
            <p>{{ forloop.counter0|add:page_obj.start_index }}. <a href="{{ link.url }}">{{ link.text }}</a></p>
            <p>by <a href="{% url 'index:profile' link.author.username %}">{{ link.author.username }}</a> on {{ link.created }}. <a href="{% url 'index:thread' link.id %}">comments</a></p>
        </div>
    {% empty %}
        <div>
            <p>No links found</p>
        </div>
    {% endfor %}

    <div>
        <p>{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">more</a>{% endif %}</p>
    </div>
{% endblock %}