{% extends 'base.html' %}
{% load static %}

{% block title %}Tech News{% endblock %}

{% block content %}
    {% for link in object_list %}
        <div>
            <p>{{ forloop.counter0|add:page_obj.start_index }}. <a href="{{ link.url }}">{{ link.text }}</a></p>
            <p>
                &nbsp;&nbsp;&nbsp;
                {% if not link.karma or link.karma == 0 %}
                    0 points
                {% elif link.karma == 1 or link.karma == -1 %}
                    {{ link.karma }} point
                {% else %}
                    {{ link.karma }} points
                {% endif %}
                <a href="{% url 'index:profile' link.author.username %}">{{ link.author.username }}</a> {{ link.created|timesince }} ago
                <a href="{% url 'index:link' link.id %}">
                    {% if link.comment_count == 0 %}
                        | discuss
                    {% elif link.comment_count == 1 %}
                        | 1 comment
                    {% else %}
                        | {{ link.comment_count }} comments
                    {% endif %}
                </a>
                {% if request.user.is_authenticated %}
                    {% if request.user == link.author %}
                        | <a href="{% url 'index:link_delete' link.id %}">delete</a>
                    {% else %}
                        | <button data-type="link" data-id="{{ link.id }}" data-value=1 data-csrf="{{csrf_token}}" onclick="vote(this)">Up</button>
                        | <button data-type="link" data-id="{{ link.id }}" data-value=-1 data-csrf="{{csrf_token}}" onclick="vote(this)">Down</button>
                    {% endif %}
                {% else %}
                    | <button onclick="location.href='{% url 'account_login' %}'">Up</button>
                    | <button onclick="location.href='{% url 'account_login' %}'">Down</button>
                {% endif %}
            </p>
        </div>
    {% empty %}
        <div>
            <p>No links found</p>
        </div>
    {% endfor %}
    <div>
        <p>{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">more</a>{% endif %}</p>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}