{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.text }}{% endblock %}

{% block content %}
    {% include 'index/macros/render_link.html' %}
    <form action="{% url 'index:comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="link-id" value={{ link.id }}>
        {{ form }}
        <input type="submit" value="add comment">
    </form>
    {% for comment in comments %}
        {% include 'index/macros/render_comment.html' %}
    {% endfor %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}