{% extends 'base.html' %}

{% block title %}Tech News{% endblock %}

{% block content %}
    {% for link in object_list %}
        <div>
            <p>{{ forloop.counter0|add:page_obj.start_index }}. <a href="{{ link.url }}">{{ link.text }}</a></p>
            <p>
                by <a href="{% url 'index:profile' link.author.username %}">{{ link.author.username }}</a>
                | {{ link.created|timesince }} ago
                <a href="{% url 'index:link' link.id %}">
                    {% if link.comment_count == 0 %}
                        | discuss
                    {% elif link.comment_count == 1 %}
                        | 1 comment
                    {% else %}
                        | {{ link.comment_count }} comments
                    {% endif %}
                </a>
                {% if request.user == link.author %}
                    | <a href="{% url 'index:link_delete' link.id %}">delete</a>
                {% else %}
                    | <button data-type="link" data-id="{{ link.id }}" data-value=1 onclick="vote(this)">Up</button>
                    | <button data-type="link" data-id="{{ link.id }}" data-value=-1 onclick="vote(this)">Down</button>
                {% endif %}
            </p>
        </div>
    {% empty %}
        <div>
            <p>No links found</p>
        </div>
    {% endfor %}
    <div>
        <p>{% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">more</a>{% endif %}</p>
    </div>
    <script>
        function vote(btn){
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/vote/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.send(JSON.stringify({
                "type": btn.dataset.type,
                "id": btn.dataset.id,
                "value": btn.dataset.value
            }));
        }
    </script>
{% endblock %}