{% extends 'base.html' %}

{% block title %}{{ object.user.username }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and object.user.username == user.username %}
        <div>
            <p>update form</p>
            <p>user: {{ object.user.username }}</p>
            <p>created: {{ object.user.date_joined }}</p>
            <p>karma: {{ object.karma }}</p>
            <form action="">
                <label for="about">
                    <textarea name="about" id="about" placeholder="about" cols="30" rows="10"></textarea>
                </label>
                <input type="submit" value="update">
            </form>
            <p><a href="{% url 'account_change_password' %}">change password</a></p>
            <p><a href="{% url 'account_email' %}">manage email</a></p>
            <p><a href="{% url 'index:links' %}?username={{ user.username }}">links</a></p>
            <p><a href="{% url 'index:newcomments' %}?username={{ user.username }}">comments</a></p>
        </div>
    {% else %}
        <div>
            <p>user: {{ object.user.username }}</p>
            <p>created: {{ object.user.date_joined }}</p>
            <p>karma: {{ object.karma }}</p>
            <p>about: {{ object.about }}</p>
            <p><a href="{% url 'index:links' %}?username={{ object.user.username }}">links</a></p>
            <p><a href="{% url 'index:newcomments' %}?username={{ object.user.username }}">comments</a></p>
        </div>
    {% endif %}
{% endblock %}