{% extends 'base.html' %}

{% block title %}{{ object.user.username }}{% endblock %}

{% block content %}
    <div>
        <p>user: {{ object.user.username }}</p>
        <p>created: {{ object.user.date_joined }}</p>
        <p>karma: {{ object.karma }}</p>
    {% if user.is_authenticated and object.user.username == user.username %}
        <form action="{% url 'index:update_about' %}" method="post">
            {% csrf_token %}
            <label for="about">
                <textarea name="about" id="about" placeholder="about" cols="30" rows="10">{{ object.user.profile.about }}</textarea>
            </label>
            <input type="submit" value="update">
        </form>
        <p><a href="{% url 'account_change_password' %}">change password</a></p>
        <p><a href="{% url 'account_email' %}">manage email</a></p>
    {% else %}
        <p>about: {{ object.about }}</p>
    {% endif %}
        <p><a href="{% url 'index:links' %}?u={{ object.user.username }}">links</a></p>
        <p><a href="{% url 'index:comments' %}?u={{ object.user.username }}">comments</a></p>
    </div>
{% endblock %}