{% extends 'base.html' %}

{% block title %}{{ object.text }}{% endblock %}

{% block content %}
    <div>
        <p><a href="{{ link.url }}">{{ link.text }}</a></p>
        <p>by <a href="{% url 'index:profile' link.author.username %}">{{ link.author.username }}</a> on {{ link.created }}</p>
    </div>
    <div>
        <form action="{% url 'index:comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="link-id" value={{ link.id }}>
            {{ form }}
            <input type="submit" value="add comment">
        </form>
    </div>
    <div>
        {% for comment in comments %}
            <div>
                <p>{{ forloop.counter }}. {{ comment.author }} {{ comment.created }}</p>
                <p>{{ comment.text }}</p>
            </div>

        {% endfor %}

    </div>
{% endblock %}