{% extends 'base.html' %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <p>username: {{ object.username }}</p>
    <p>joined: {{ object.date_joined }}</p>
    <p>thread karma: {{ object.thread_karma }}</p>
    <p>comment karma: {{ object.comment_karma }}</p>
{% if request.user.is_authenticated and object.username == request.user.username %}
    <form action="{% url 'user:update' %}" method="post">
        {% csrf_token %}
        <label for="about">
            <textarea name="about" id="about" placeholder="about" cols="30" rows="10">{{ object.about }}</textarea>
        </label>
        <input type="submit" value="update">
    </form>
    <p><a class="text-decoration-none" href="{% url 'account_change_password' %}">change password</a></p>
    <p><a class="text-decoration-none" href="{% url 'account_email' %}">manage email</a></p>
{% else %}
    <p>about: {{ object.about }}</p>
{% endif %}
    <p><a class="text-decoration-none" href="{% url 'thread:list' %}?u={{ object.username }}">threads</a></p>
    <p><a class="text-decoration-none" href="{% url 'comment:list' %}?u={{ object.username }}">comments</a></p>
{% endblock %}